body {
    margin: 0px;
}

header{
    background-color: rgb(102, 201, 140);
}

header input#imgToggler {
    display: none;
}

header label img {
    width: 40px;
    height: auto;
    margin: 10px;
}

nav {
    position: relative;
    padding: 20px 10px;
    display: none;
}

input#imgToggler:checked + nav{
    display: block;
}

a.red-link {
    color: red;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    border-bottom: 1px solid #212529;
    padding: 10px 0px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: bold;
    text-transform: uppercase;
}

ul li a.active {
    color:white;
  }

ul li a:hover:not(.active) {
    text-decoration: underline;
    color: white;
  }

.content{
    padding: 30px;
}

