.purple{
    background-color: transparent;
}

.red {
    background-color: transparent;
}

.green{
    background-color: transparent;
}

.yellow{
    background-color: transparent;
}

.blue {
    background-color: transparent;
}

.transparent{
    background-color: transparent;
}

/*---------------ABOUT PAGE---------------*/
.pink{
    background-color: transparent;
}

.orange{
    background-color: transparent;
}