.navbar {
    background-color:darkorange;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 400px;
    align-content: space-evenly;  
}

.navbar-item{
    margin: 10px;
}

.navbar img{
    width:auto;
    height:50px;
    display:inline-block;
}


.navbar-item:nth-child(Earl Grey){
    background-color: aquamarine
}
.navbar-item:nth-child(Pumpkin Spice){
    background-color: cadetblue;
}
.navbar-item:nth-child(Caramel Pecan){
    background-color: deepskyblue;
}
.navbar-item:nth-child(Chocolate Mousse){
    background-color: powderblue;
}


.hidden{
    display:none;
}

@media(min-width: 540px) {


    header label img {
        display: none;
    }

    #logo {
        width: 100%;
        height: auto;
        margin: 0px 1vw;
    }



    /* MAIN */

    .width-md-50 {
        width: 50%;
    }

    .width-md-33 {
        width: 33%;
    }

    .width-md-20 {
        width: 20%;
    }
}

/*end of 540px breakpoint*/

@media(min-width: 800px) {

    #logo {
        width: 140px;
        height: 120px;
        margin: 0px 2vw;
    }

    .width-lg-20 {
        width: 20%;
    }

    .width-lg-25 {
        width: 25%;
    }

    .width-lg-33 {
        width: 33.333%;
    }

    .width-lg-50 {
        width: 50%;
    }

    .width-lg-100 {
        width: 100%;
    }
}