@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

body {
    margin: 0px;
}

header {
    background-color: transparent;
}

header input#toggler {
    display: none;
}

header label img {
    width: 50px;
    height: auto;
    margin: 10px;
}

input#toggler:checked+nav {
    display: block;
}

#logo {
    position: relative;
    bottom: -50px;
    width: 140px;
    height: 120px;
    margin: 0px 2vw;
    background-size: cover;
    background-position: center;
    background-image: url();
    display: inline-block;
}

img {
    width: 100%;
}


.navbar {
    background-color: rgb(254, 252, 251);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-item {
    margin: 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(11, 40, 130);
}

.navbar img {
    width: auto;
    height: 50px;
    display: inline-block;
}

/* NAVBAR ITEMS */
.navbar-item:nth-child(1) {
    order: 1;
}

.navbar-item:nth-child(2) {
    order: 2;
}

.navbar-item:nth-child(3) {
    order: 3;
}

.navbar-item:nth-child(4) {
    order: 4;
}

.navbar-item:nth-child(5) {
    order: 5;
    border: 2px solid rgb(255, 163, 10);
    background-color: rgb(255, 163, 10);
    color: rgb(254, 252, 251);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a {
    text-decoration: none;
    color: rgb(11, 40, 130);
}

a.active {
    color: rgb(105, 186, 219);

}

a:hover:not(.active) {
    color: rgb(105, 186, 219);
}


.hidden {
    display: none;
}


/*---------------MAIN------------*/
.flex-content {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}


.page-title {
    font-family: 'Baloo', cursive;
    text-align: center;
    color: rgb(254, 252, 251);
    font-size: 50px;
    margin: 15px;
    width: 100%;
}

h2 {
    font-family: 'Baloo', cursive;
    text-align: center;
    font-size: 50px;
    margin: 15px;
    width: 100%;
}

p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.title {
    width: 100%;
}

.flex-content h2 {
    margin: 5px;
    text-align: center;
    font-family: 'Baloo', cursive;
}

.flex-content img {
    width: 100%;
    height: auto;
}

.flex-content div {
    margin: 10px 0px;
}

.buttonStyle {
    left: 100px;
    width: 200px;
    height: 50px;
    margin: auto;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    background-color: rgb(255, 163, 10);
    border: 2px solid rgb(255, 163, 10);
    border-radius: 300px;
}

.floater-section {
    min-height: 300px;
    width: 100%;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}

img {
    max-width: 100%;
}

.content {
    padding: 15px;
}

/*---------------HOME PAGE----------------*/

.background-index {
    background-image: url("kidsgroup2.jpg");
    background-position: center;
    background-size: cover;
}

/* block element with known height */
.pos-relative {
    position: relative;
}

/* with unknown height */
.v-centered-block {
    height: 100px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}

/* 
.v-centered-block {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
} */

/* block element vertically and horiztonally centered- known height/width */

.v-h-centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    transform: translate(-50%, -50%);
}

.grid-layout {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */

    width: 100%;
}

.grid-item {
    width: 100%;
    height: 275px;
    text-align: center;
}

.box1 {
    background-color: rgb(254, 252, 251);
    color: rgb(11, 40, 130);
}

.box2 {
    background-color: rgb(3, 64, 138);
    color: rgb(254, 252, 251);
}

.box3 {
    background-color: rgb(11, 40, 130);
    color: rgb(254, 252, 251);
}

.box4 {
    background-color: rgb(105, 186, 219);
    color: rgb(254, 252, 251);

}

.link {
    text-decoration: none;
    color: rgb(255, 163, 10);
}

h3 {
    font-family: 'Kalam', cursive;
    text-align: center;
    color: white;
    font-size: 16px;
}

/*---------------ABOUT US----------------*/
.background-about {
    background-image: url("books.jpg");
    background-position: center;
    background-size: cover;
}

.aboutUs {
    padding: 10px 10px 0px 10px;
}

.mySlides {
    display: none;
}

/*---------------FOOTER----------------*/
.p-footerAddress {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: bold;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 15px;
}

.footer {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: rgb(11, 40, 130);
    color: white;
    text-align: center;
}

#instagram {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: right;
    background-image: url(instagramiconwhite.png);
    display: inline-block;
}

#facebook {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: right;
    background-image: url(facebookiconwhite.png);
    display: inline-block;

}

.socialmedia {
    padding-top: 20px;
}

/*---------------------MEDIUM SIZE SCREENS------------------*/
@media(min-width: 540px) {

    .grid-layout {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0px;
        width: 85%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -275px;
    }

    .grid-item {
        width: 100%;
        height: 275px;
    }

    .navbar {
        flex-direction: row;
        padding-bottom: 0px;
    }

    .navbar img {
        height: 100px;
        width: auto;
    }

    header label img {
        display: none;
    }

    #logo {
        width: 100px;
        height: 80px;
        margin: 0px 1vw;
    }

    .container {
        width: 520px;
        margin: auto;
    }

    .floater-section {
        min-height: 800px;
    }

    .width-md-25 {
        width: 25%;
    }

    .width-md-33 {
        width: 33.333%;
    }

    .width-md-50 {
        width: 50%;
    }

    .width-md-66 {
        width: 66.666%;
    }

    .width-md-75 {
        width: 75%;
    }

    .width-md-100 {
        width: 100%;
    }

    /*---------------ABOUT US----------------*/

    .aboutUs {
        padding: 10px 350px 0px 350px;
    }

    .background-about {
        min-height: 400px;
    }

    /* MAIN */

    .flex-content {
        flex-direction: row;
        margin: 0px 10px;
    }

    .flex-content div {
        margin: 20px;
    }

    .earlgrey {
        order: 1;
        flex-grow: 1;
        width: 25%;
    }

    .pumpkin {
        order: 2;
        flex-grow: 1;
        width: 25%;
    }

    .pecan {
        order: 3;
        flex-grow: 1;
        width: 25%;
    }

    .mousse {
        order: 4;
        flex-grow: 1;
        width: 25%;
    }

    .honey {
        width: 25%;
        order: 5;
        flex-grow: 2;
    }

    .page {
        width: 40%;
        flex-grow: 1;
    }

    .page p {
        margin: 10px;
        font-family: 'Solway', serif;
        font-size: 24px;
        text-decoration: none;
        color: black;
    }

}

.page-list {
    width: 20%;
    flex-grow: 1;
}