
.blog-content{
    margin-top:25px;
    margin-bottom:50px;
    width:400px;
    height:300px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.blog-content h3 {
    margin-top:0px;
    margin-bottom: 5px;
    font-size: 24px;
}

.blog-content h4{
    margin-top: 5px;
    font-size: 14px;
}

.blog-content p{
    font-size: 15px;
}

.blog-content p::first-letter {  
    font-size: 26px;
    font-style: bold;
    line-height: 20px;
    color:#000;
}